* {		
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	#search, #results {
		float: left;
		width: 15%;
		height: 100%;
		background: #fff;
		@include box-shadow(#666 0 0 20px);
	}
	#search, #results, #products {	
		overflow-y: scroll;	
	}
	#search {
		z-index: 1;
		h1 {
			padding: 0 20px 10px 0;
		}
		padding: 20px 0 20px 20px;
		form {
			padding: 0 20px 0 0;
			width: 100%;
			float: left;
			input {
				width: 100%;
				float: left;
			}
		}
		button {
			margin: 5px 0 0;
			float: right;
		}
	}
	#results {
		width: 25%;
		margin: 0;
		padding: 20px 0;
		.result {
			float: left;
			position: relative;
			width: 100%;
			padding: 0 120px 10px 20px;
			margin: 0 0 10px;
			border-bottom: 1px solid #999;
		}
		img {
			float: left;
			margin: 0 10px 0 0;	
		}
		.more {
			position: absolute;
			top: 0;
			right: 20px;
		}
		.price {
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.controls {
			float: right;
			padding: 10px 20px 0;
			&:first-child {
				padding: 0 20px 10px;
			}
			a {
				color: #fff;
				background: #999;
				text-decoration: none;
				margin: 0 0 0 5px;
				padding: 5px;
				line-height: 1;
				float: left;
			}
			.current {
				background: #666;
			}
			span {
				float: left;
				padding: 5px 0;
				margin: 0 0 0 5px;
			}
		}
	}
	#products {
		float: left;
		width: 60%;
		height: 100%;
		padding: 20px 0;
		.close {
			float: right;
			margin: 15px 15px 0 0;
		}
		.product {
			padding: 0 20px 10px;
			margin: 0 0 10px;
			border-bottom: 1px solid #999;
			.link {
				text-align: right;
			}
		}
	}
	#filters, #sorting {
		float: left;
		width: 100%;
		#categories, #colors, #prices {
			width: 100%;
			float: left;
			padding: 5px 0;
		}
		.open-close {
			cursor: pointer;
			position: relative;
			span {
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -6px;
				border: 6px solid transparent;
				border-left: 0;
				border-right: 6px solid black;
			}
			&.show span {
				@extend .down-arrow;
			}
		}
		.filter, .sort {
			display: none;
			float: left;
			width: 100%;
		}
		button {
			float: left;
			width: 100%;
			background: none;
			border: none;
			border-bottom: 1px solid #999;
			text-align: left;
			cursor: pointer;
			margin: 0;
			line-height: 1.5;
			padding-top: 2px;
			span {
				display: none;
			}	
		}
		.selected {
			background: #cecece;
			span {
				display: block;
				color: #fff;
				float: right;
			}
		}
	}
	#sorting {
		padding: 0 0 15px;
		h2 {
			padding: 0;
		}
		.sort {
			display: block;
		}
		.sortBy {
			position: relative;
		}
		button span {
			position: absolute;
			right: 10px;
			display: block;
			width: 0;
		}
		.up span {
			@extend .up-arrow;
		}
		.down span {
			@extend .down-arrow;
		}
	}
}